@model List<RadMedics.Models.Course>

<div class="container">
    <h2>Your Courses</h2>

    <div class="row">
        @foreach (var course in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@course.Name</h5>
                        <!-- Removed the Description line -->
                        <div class="progress">
                            <div class="progress-bar" style="width: @course.Progress%;"></div>
                        </div>

                        <p>@course.Progress% Completed</p>
                        <a href="#" class="btn btn-primary">Go to Course</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
